

$font-family: "Roboto Slab", serif;
$black: #000;
$primary-color: #000;
$secondary-color: #6344cc;
$tamarillo: #6344cc;
$white: #fff;
$spindle: #b1cae3;
$border-color: #e3e8ef;
$link-color: #6344cc;
$button-bg: #304e75;
$sidebar-bg: #d7d7d7;
$link-blue-color: #6344cc;
$light-gray: #f4f4f4;
$iron-color: #dadde1;
$porcelain: #f5f6f7;
$polar: #f8eddc;
$body-bg: #fcfaff;
$icon-color: #667085;
$teal-green: #0a6060;
$border-dark: #cad8fa;
$river-bed: #4b5563;
$ebony-clay: #1f2937;
$linen: #FBE9E9;
$iceberg: #D7F2F1;
$magnolia: #F9F5FF;
$albescent-white: #F6EAD5;
$regent-gray: #8e98a5;
$pale-sky: #687586;