

$font-family: "Roboto Slab", serif;
$black: #000;
$primary-color: #000;
$secondary-color: #643a98;
$tamarillo: #9b2318;
$white: #fff;
$spindle: #b1cae3;
$border-color: #e4e7ec;
$link-color: #9b2318;
$button-bg: #304e75;
$sidebar-bg: #d7d7d7;
$link-blue-color: #2562ea;
$light-gray: #f4f4f4;
$iron-color: #dadde1;
$porcelain: #f5f6f7;
$shakespeare:#2562ea;
$polar: #ebf0fb;
$body-bg: #f9fafb;
$icon-color: #667085;
$teal-green: #0a6060;
$border-dark: #cad8fa;
