@use "../colors" as *;

.accordionWrap {
  border: 2px solid $border-color;
  margin-bottom: 5px;

  button {
    width: 100%;
    cursor: pointer;

    &:focus {
      outline: 2.5px dotted;
      outline-offset: 1.2px;
      outline-color: $link-color;
      color: $link-color !important;
            text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;

      span {
        color: $link-color;

      }

      svg {
        color: $link-color;
      }
    }
  }

  button[aria-expanded="true"] {
    border-bottom: 1px solid $border-color;
    outline: unset;

    span {
      color: $link-blue-color;
      text-decoration: underline;
      text-decoration-thickness: 2px;
      text-underline-offset: 2px;

    }

    svg {
      color: $link-blue-color;
    }

    &:focus {

      span,
      svg {

        color: $tamarillo !important;
      }
    }

  }

  .accordionTitle {
    font-size: 1.6rem;
    padding: 10px;
    font-weight: 500;
    color: $primary-color;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
  }

  .accordionContent {
    padding: 10px 20px;
  }

  svg {
    cursor: pointer;
    margin-right: 5px;
  }

  @media screen and (max-width: 992px) {
    button {
      .accordionTitle {
        svg {
          display: none;
        }
      }
    }

  }
}