@use "../colors" as *;

.buttonFilled {
  background-color: $link-blue-color;
  padding: 9px 10px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  justify-content: center;

  &:hover {
    background-color: $primary-color;
  }

  &:focus {
    outline: 2.5px dotted;
    outline-offset: 1.2px;
    outline-color: $link-color;
    padding: 5px;
    background-color: transparent !important;
    color: $tamarillo !important;
    background-color: $white !important;
  }
}

.buttonOutline {
  border: 2px solid $border-color;
  padding: 5px 12px;
  background-color: $magnolia;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  color: $primary-color;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }

  &:focus {
    outline: 2.5px dotted;
    outline-offset: 1.2px;
    outline-color: $link-color;
    padding: 5px 12px;
    color: $secondary-color !important;
  }

}