@use "../colors" as *;

.buttonFilled {
  background-color: $shakespeare;
  padding: 6px 10px;
  cursor: pointer;
  font-size: 1.4rem;
  &:hover {
    background-color: $primary-color;
  }
  &:focus{
    outline: 2px dotted;
    outline-offset: 1.2px;
    outline-color: $link-color;
  }
}

.buttonOutline {
  border:1px solid $shakespeare;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 1.4rem;
  &:hover {
    background-color: $primary-color;
  }
  &:focus{
    outline: 2px dotted;
    outline-offset: 1.2px;
    outline-color: $link-color;
  }
}
