@use "../colors" as *;

.bottomList{
  background-color: $body-bg;
  border-radius: 4px;
  padding: 10px 33px 10px 310px;
  color: $icon-color;
  font-size: 1.4rem;
  text-align: center;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  border: 2px solid $border-color;
  margin-top: 30px;
  a{
    display: flex;
    align-items: center;
    gap: 5px;
    &:hover{
      color: $primary-color;
    }
  }
}