@use "../colors" as *;

// searchField design

.inputLabel {
  font-size: 1.2rem;

}

.searchField {
  padding: 4px 10px;
  border: 2px solid $border-color;
  border-radius: 4px;
  width: 100%;
  font-size: 1.4rem;
  color: $primary-color;

  &:focus {
    outline-offset: 1px;
    outline-color: $link-color;
  }
}

.searchForm {
  width: 100%;
  display: flex;
  align-items: center;
}

.inputWrapper {
  position: relative;
}

.searchField {
  flex: 1;
  padding-right: 3rem; // space for button
}

.searchButton {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  border-radius: 0 3px 3px 0;
  padding: 5.5px;
  cursor: pointer;
  font-size: 1.4rem;
  display: flex;
  background-color: $light-gray;

  &:focus {
    outline-offset: 1px;
    outline-color: $link-color;
  }
}

@media screen and (max-width: 992px) {
  .inputWrapper {
    width: 100%;
  }

}