@use "../colors" as *;

.internalMainNav {
  border-bottom: 1px solid $border-color;
  padding: 10px 25px;
  background-color: $white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 69px;

  .navContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      gap: 10px;
      margin-bottom: 0;

      li {
        list-style: none;
        flex-shrink: 0;

        a {
          text-decoration: none;
          font-size: 1.4rem;
          font-weight: 500;
          letter-spacing: 0.6px;
          line-height: 26px;
          border: 1px solid $border-color;
          padding: 6px 10px;
          border-radius: 4px;

          &:hover,
          &:focus {
            background-color: $link-color;
            text-decoration: none;
            color: $white;
          }

          &.active {
            background-color: $link-color;
            outline: 2.5px dotted;
            outline-offset: 2px;
            outline-color: $link-color;
            color: $white;
          }
        }
      }
    }
  }

  .skipContent {
    position: absolute;
    top: -60px;
    z-index: 1;
    color: $primary-color;
    opacity: 0;
    text-decoration: none;
    border: 1px solid $border-color;
    border-radius: 4px;

    &:focus {
      opacity: 1;
      top: 8px;
    }

    &:focus-visible {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .logoMainWrap {
    min-width: 280px;
    display: flex;
    align-items: center;
    gap: 15px;

    .logoWrap {
      padding: 0;
      display: flex;

      &:focus {
        background-color: transparent;
        width: fit-content;
      }
    }

    .menuIcon {
      cursor: pointer;

      svg {

        font-size: 2.4rem;
        color: $ebony-clay;
      }

      .menuCloseIcon {
        color: $ebony-clay;
        width: 24px;
        height: 26px;
      }


      &:focus {
        outline: 2.5px dotted;
        outline-offset: 2px;
        outline-color: $link-color;
        background-color: $link-color;

        svg {
          color: #fff;
        }
      }
    }
  }

  .menuListIcon {
    border: 1px solid $border-color;
    background-color: $white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 20px;
    }

    &:focus {
      outline: 2.5px dotted;
      outline-offset: 1px;
      outline-color: $link-color;
      background-color: $link-color;

      svg {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 992px) {
    height: 60px;
    .logoMainWrap {
      min-width: 170px;
    }

    .searchWrapper,
    .navContainer {
      display: none;
    }

  }
}

.mobileMenuList {
  display: none;

  @media screen and (max-width: 992px) {
    display: block;
  }
}

.active {
  background-color: $link-color;
  text-decoration: none;
  color: $white;
}