@use "../colors" as *;

.internalMainNav {
  border-bottom: 1px solid $border-color;
  padding: 10px 25px;
  background-color: $white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  height: 75px;

  .navContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;

    .dropdownMenu {
      flex-direction: column;
      position: absolute;
      z-index: 50;
      border: 2px solid $border-color;
      border-radius: 10px;
      width: 140px;
      background-color: $white;
      padding: 10px 10px;
      top: 40px;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      gap: 10px;
      margin-bottom: 0;

      li {
        list-style: none;
        flex-shrink: 0;

        button,
        a {
          text-decoration: none;
          font-size: 1.5rem;
          font-weight: 600;
          letter-spacing: 0.6px;
          line-height: 26px;
          padding: 6px 10px;
          border-radius: 4px;
          height: 31px !important;
          cursor: pointer;

          &:hover,
          &:focus {
            text-decoration: none;
            color: $link-color !important;
            outline: 2.5px dotted;
            outline-offset: 2px;
            outline-color: $link-color;
          }

          &.active {
            color: $link-color !important;
            background-color: transparent !important;
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 2px;
          }
        }
      }
    }
  }

  .skipContent {
    position: absolute;
    top: -60px;
    z-index: 1;
    color: $primary-color;
    opacity: 0;
    text-decoration: none;
    border: 2px solid $border-color;
    border-radius: 4px;

    &:focus {
      opacity: 1;
      top: 8px;

      background-color: $white;
      color: $tamarillo !important;
    }

    &:focus-visible {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .logoMainWrap {
    min-width: 280px;
    display: flex;
    align-items: center;
    gap: 25px;

    .logoWrap {
      padding: 0;
      display: flex;

      &:focus {
        background-color: transparent;
        width: fit-content;
      }
    }

    .menuIcon {
      cursor: pointer;

      svg {

        font-size: 2.6rem;
        color: $pale-sky;
      }

      .menuCloseIcon {
        color: $regent-gray;
        width: 24px;
        height: 26px;
      }


      &:focus {
        outline: 2.5px dotted;
        outline-offset: 2px;
        outline-color: $link-color;

        svg {
          color: $link-color;
        }
      }
    }
  }

  .menuListIcon {
    border: 2px solid $border-color;
    background-color: $white;
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      font-size: 20px;
    }

    &:focus {
      outline: 2.5px dotted;
      outline-offset: 1px;
      outline-color: $link-color;
      background-color: $link-color;

      svg {
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 992px) {
    height: 60px;

    .logoMainWrap {
      min-width: 170px;
    }

    .searchWrapper,
    .navContainer {
      display: none;
    }

  }
}

.mobileMenuList {
  display: none;

  @media screen and (max-width: 992px) {
    display: block;
  }
}

.active {
  background-color: $link-color;
  text-decoration: none;
  color: $white;
}