@use "../colors" as *;

.sidebar {
  background-color: $white;
  top: 75px;
  max-width: 280px;
  min-width: 280px;
  height: 100vh;
  position: fixed;
  border-right: 1px solid $border-color;
  padding: 10px 20px 20px 20px;
  z-index: 1;
  background: #fff;
  transition: left 0.3s ease-in-out;
  z-index: 1100;
  left: -280px;
  overflow-y: auto;

  &.sidebar.open {
    left: 0; // slide in
  }

  .logo {
    width: 80%;
  }

  .demoLabel {
    color: $pale-sky;
    margin: 8px 0;
    display: block;
    width: max-content;
    border-radius: 6px 6px 0 0;
    font-size: 1.4rem;
    display: flex;
    gap: 10px;
    align-items: center;

    span {
      font-size: 2rem;
    }
  }

  .sidebarNotification {
    background-color: $polar;
    border-radius: 10px;
    padding: 15px;
    font-size: 1.4rem;
    margin-bottom: 60px;
    margin-top: auto;
    border: 2px solid $border-color;

    .learnMore {
      color: $primary-color;
      font-weight: bold;
      cursor: pointer;
    }

    .notificationText {
      margin: 5px 0;
      font-size: 1.4rem;
      color: $primary-color;
    }

    button,
    a {
      text-align: center;
      width: 100%;
    }
  }

  .sidebarMenuWrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
  }

  @media screen and (max-width: 992px) {
    top: 60px;

    .sidebarNotification {

      display: none;
    }
  }

}

.sidebarLinksWrap {
  overflow-y: auto;
  height: 400px;
  scrollbar-width: thin;
  scrollbar-color: $river-bed $ebony-clay;

  &::-webkit-scrollbar {
    width: 8px;
  }


  .generalFormAccordion {
    padding: 10px !important;

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      overflow-y: auto;
      max-height: 190px;

      li {
        margin: 5px;

        a {
          padding: 5px 10px;
          background-color: $polar;
          width: 100%;
          color: $primary-color;
          text-decoration: none;
          font-size: 1.4rem;
          display: block;
          border-radius: 4px;

          &:hover,
          &:focus {
            color: $link-blue-color !important;
            background-color: $body-bg;

            text-decoration: underline;
          }

          &:hover {
            background-color: $polar !important;
          }

          &:focus {
            color: $link-color !important;
            background-color: transparent;
            box-shadow: none !important;
          }

          &.activeLink {
            text-decoration: underline;
            color: $tamarillo;
            text-decoration-thickness: 2px;
            text-underline-offset: 2px;

            &:hover {
              background-color: $polar !important;
            }

            &:focus {
              color: $link-color !important;
              background-color: transparent !important;
            }
          }
        }
      }
    }

  }


}

.closeButton {
  border: 2px solid $border-color;
  background-color: $white;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  position: absolute;
  top: 0;
  right: 25px;
  cursor: pointer;
  top: 10px;
  right: 20px;
  z-index: 1;

  svg {
    font-size: 20px;
  }

  &:focus {
    outline: 2.5px dotted;
    outline-offset: 1px;
    outline-color: $link-color;

    svg {
      color: $tamarillo;
    }
  }
}


.closeBtn {
  display: block;
  margin: 1rem;
  font-size: 1.25rem;
  background: none;
  border: none;
  cursor: pointer;
}