@use "../colors" as *;

.tabsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .tabsLinks {
    background-color: $porcelain;
    padding: 12px;
    gap: 15px;
    border: 2px solid $iron-color;
    display: flex;
    border-radius: 8px;

    button {
      padding: 10px 20px;
      border: 2px solid $border-color;
      width: 100%;
      font-size: 1.8rem;
      font-weight: 700;
      cursor: pointer;

      &:focus {
        outline: 2.5px dotted;
        outline-offset: 1.2px;
        outline-color: $link-color;
      }
      &:hover{
        background-color: $secondary-color;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .tabsLinks {
      flex-direction: column;
    }
  }
}

// SIMPLE TAB DESIGN

.ourCertficationsTabs {
  .tabsContainer {
    flex-direction: column-reverse;
    padding: 10px;
    border: 2px solid $border-color;
    border-radius: 4px;

    img {
      border-radius: 4px;
    }
  }

  .tabsLinks {
    border: 0;
    padding: 0;
    gap: 5px;

    button {
      padding: 5px;
      border: 2px solid $border-color;
      width: 100%;
      font-size: 1.4rem;
      font-weight: 500;
      cursor: pointer;
      border-radius: 0;

      &:focus {
        outline: 2.5px dotted;
        outline-offset: 1.2px;
        outline-color: $link-color;
      }
    }
  }
}